<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<body>
    <h1>Rodolfo Munoz, Django developer</h1>

    {% load static %}

    <img img width="350px" src="{% static 'portfolio/perfil.jpg' %}">
    <br>
    <br>
    <a href="{% static 'portfolio/cv.pdf' %}">Check my CV</a>
    <br>
    <a href="{% url 'blog:all_blogs' %}">Blog page</a>
    {% for project in projects %}

        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
        <p><img width="500px" src="{{ project.image.url }}"></p>

        {# If Project has an url then display this link #}
        {% if project.url %}
        <a target="_blank" href="{{ project.url }}">Link to web site</a>
        {% endif %}

    {% endfor %}

</body>
</html>